* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.hero {
  background: #f0f0f0;
  width: 100%;
  height: 70vh;
  display: grid;
  align-items: center;
}
.banner {
  width: 90vw;
  max-width: 1000vw;
  margin: 0 auto;
}

.hero img {
  display: none;
}

@media screen and (min-width: 676px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
  .hero img {
    display: block;
  }
  p {
    max-width: 25rem;
    line-height: 2;
  }
}
